{% extends "layout.html" %}

{% block title %}
    Track
{% endblock %}

{% block main %}

<script>
let token_test = '{{ token_test }}'
console.log(token_test);
</script>

    <form action="/submit" method="post">

	<h3>Please enter a Spotify URI</h3>
    <p>Example: spotify:track:4zTqkKfNC3rDQ0uuAGOvie</p>
    <br>
    <br>
    <p>Hot to get specific Spotify URIs:</p>
    <p> 
        <li>In your Spotify app, right-klick on a song</li>
        <li>Click "Share -> Copy Spotify URI"</li>
        <li>Paste it below:</li>
    </p>


        <div class="form-group">
            <input class="form-control" name="track" placeholder="Spotify URI" type="text">
        </div>

        <button class="btn btn-primary" type="submit">START</button>
	
        <br>
        <br>
        <br>
        <br>
        <a href="/sign_out">Sign Out</a>

    </form>
{% endblock %}
